*{margin: 0;
box-sizing: border-box;}

svg { height: 15px;
fill: white;}

header {background-color: black;
height: 100vh;
width: 13%;
padding: 20px;
color: white;
position: sticky;
top: 0;}

main {width: 87%;
background-image: url(img_9.jpg);
background-size: 100%;
background-attachment: fixed;}

#welcome {height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
backdrop-filter: brightness(50%);
color: white;
font-family:Arial, sans-serif;
font: 32px Oswald;}

#welcome p {width: 60%;}
#welcome a {display: inline-block;
width: 164px;
height: 53px;
background-color: #df0e62;
color: white;
text-decoration: none;
border-radius: 30px;
text-align: center;
line-height: 53px;}

body {display: flex;}

#photos {display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: black;
row-gap: 10px;}

.imagens {width: 33%;
height: 33vh;
overflow: hidden;
position: relative;
}

.imagens img {width: 100%;
height: 33vh;
object-fit: cover;
transition: 1s;
position: relative;}
header a {color: white;
 text-decoration: none;}

 header ul{list-style: none;
 padding: 0;
 margin-top: 40px;}

 header li {margin-bottom: 15px;}

 header svg { fill: white;
 height: 15px;
 margin-right: 15px;}

.imagens:hover>img{filter: brightness(50%);}
.imagens svg {position: absolute;
left: 50%;
top: 55%;
transform: translate(-50%, -50%);
opacity: 0;
transition: 1s;}

.imagens:hover>svg{opacity: 1;}

#test{background-color: black;
color: white;}

#center{display: flex;
justify-content: center;}

#test2{background-color: #1a1a1a;
color: white;}

#test2 p {margin-bottom: 16px;
padding-right: 30%;}

#test2 h3{font: 64px Oswald;}

#test2 h2{font: 32px Oswald;}

#test2 h4{font: 28px Oswald;}

#test h3{font: 64px Oswald;}

#test h2{font: 32px Oswald;}

.space{padding: 100px;}

#test img{height: 200px;}

#test2 img{height: 250px;}

.listas { display: flex;
margin-bottom: 16px;}

#test3{background-color: black;
    color: white;
padding-left: 20%;
}

#test3 h3{font: 64px Oswald;}

#test3 img{height: 200px;}

#test4{background-color: #1a1a1a;
color: white;}

label {margin-bottom: 16px;}

input{ background-color: transparent;
border: none;
border-bottom: solid 1px gray;
outline: none;
color: white;}

.row{display: flex;}

.form-conrol{border: none;
    border-bottom: 2px solid gray;
    border-radius: 0;
    background: none;
    color: #fff;
    padding-left: 0;
    padding-right: 0;}

#test4 a{display: inline-block;
    width: 164px;
    height: 53px;
    background-color: #df0e62;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    line-height: 53px;}

section h2 {font: 64px Oswald;}